  <script async src="https://www.googletagmanager.com/gtag/js?id=G-19XH630KZE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-19XH630KZE');
  </script>

  <script type="speculationrules">
  {"prerender":[{"where":{"href_matches":"/*"},"eagerness":"moderate"}]}
  </script>

  <link rel="preload" as="font" type="font/woff2" href="{{raiz}}fonts/libre-franklin-latin.woff2" crossorigin />
  <link rel="preload" as="font" type="font/woff2" href="{{raiz}}fonts/archivo-narrow-latin.woff2" crossorigin />
  <link rel="stylesheet" href="{{raiz}}css/style.css" />
  <script src="{{raiz}}js/script.js" defer></script>

  <link rel="icon" href="{{raiz}}img/favicon.svg" type="image/svg+xml" />
  <link rel="manifest" href="{{raiz}}manifest.json" />
  <meta name="theme-color" content="#FFFFFF" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content="DEVMRMORAES" />
